.scene {
  li:nth-child(1) {
    background: url("/css/images/background.jpg") no-repeat;
    background-size: cover;
    width: 120%;
    height: 120%;
  }
  li{

    background-color: #0000cc;

  }
}